[Unit]
Description=polybar bar
#StartLimitIntervalSec=5
#StartLimitBurst=1

[Service]
Type=simple
Restart=always
#RemainAfterExit=false
#KillMode=process
EnvironmentFile=/tmp/polybar.env
PIDFile=/run/polybar-%i.pid
ExecStart=/usr/bin/polybar --log=warning -c /home/shw/.config/polybar/config.ini --reload %i
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target

