;;
;; POLYBAR: CONFIG
;;

[global/wm]
margin-top = 10
margin-bottom = 50

;; include files

include-file = ~/.config/polybar/modules.ini
include-file = ~/.config/polybar/colours.ini

[settings]
screenchange-reload = true

compositing-background = source
compositing-foreground = over
compositing-overline = over
compositing-underline = over
compositing-border = over

pseudo-transparency = false

[vars]
bar-margin-side = ${env:SIDEMARGIN:5}
bar-margin-top = ${env:TOPMARGIN:5}

; make borders transparent
bar-background-colour = #00ffffff

;; laptop bar settings

{{- if eq .chezmoi.hostname "phoenix" }}
[bar/eDP1]
monitor = eDP1
{{- else if eq .chezmoi.hostname "cheyenne" }}
[bar/eDP-1]
monitor = eDP-1
{{- end }}

fixed-center = true

width = 100%
height = 27
radius = 3.0

background = ${color.background}
foreground = ${color.foreground}

line-size = 2
line-color = ${color.primary}

border-left-size = ${vars.bar-margin-side}
border-right-size = ${vars.bar-margin-side}
border-top-size = ${vars.bar-margin-top}
border-color = ${vars.bar-background-colour}

padding-left = 0
padding-right = 2

module-margin-left = 1
module-margin-right = 1

font-0 = fixed:pixelsize=10;1
font-1 = unifont:fontformat=truetype:size=8:antialias=false;0
font-2 = siji:pixelsize=10;1
font-3 = "Font Awesome 6 Free:style=Regular:pixelsize=8;1"
font-4 = "Font Awesome 6 Free:style=Solid:pixelsize=8;1"
font-5 = "Font Awesome 6 Brands:pixelsize=8;1"

modules-left = powermenu i3
modules-center = time date
modules-right = todoist-today updates-arch-combined homefilesystem filesystem volume backlight battery tray

separator =

dim-value = 1.0

wm-restack = i3
enable-ipc = true

scroll-up = "#i3.prev"
scroll-down = "#i3.next"

;; left display bar settings

{{- if eq .chezmoi.hostname "phoenix" }}
[bar/DP1]
monitor = DP1
{{- else if eq .chezmoi.hostname "cheyenne" }}
[bar/DP-3-5-5]
monitor = DP-3-5-5
{{- end }}

fixed-center = true

width = 100%
height = 40
radius = 3.0

background = ${color.background}
foreground = ${color.foreground}

line-size = 2
line-color = ${color.primary}

border-left-size = ${vars.bar-margin-side}
border-right-size = ${vars.bar-margin-side}
border-top-size = ${vars.bar-margin-top}
border-color = ${vars.bar-background-colour}

padding-left = 2
padding-right = 2

module-margin-left = 1
module-margin-right = 2

font-0 = fixed:pixelsize=10;1
font-1 = unifont:fontformat=truetype:size=8:antialias=false;0
font-2 = siji:pixelsize=10;1
font-3 = "Font Awesome 6 Free:style=Regular:pixelsize=8;1"
font-4 = "Font Awesome 6 Free:style=Solid:pixelsize=8;1"
font-5 = "Font Awesome 6 Brands:pixelsize=8;1"

modules-left = powermenu i3
modules-center = time date
modules-right = todoist-today homefilesystem filesystem volume backlight battery

separator =

dim-value = 1.0

wm-restack = i3
enable-ipc = true

scroll-up = "#i3.prev"
scroll-down = "#i3.next"

;; right display bar settings

{{- if eq .chezmoi.hostname "phoenix" }}
[bar/DP3]
monitor = DP3
{{- else if eq .chezmoi.hostname "cheyenne" }}
[bar/DP-3-6-6]
monitor = DP-3-6-6
{{- end }}

fixed-center = true

width = 100%
height = 40
radius = 3.0

background = ${color.background}
foreground = ${color.foreground}

line-size = 2
line-color = ${color.primary}

border-left-size = ${vars.bar-margin-side}
border-right-size = ${vars.bar-margin-side}
border-top-size = ${vars.bar-margin-top}
border-color = ${vars.bar-background-colour}

padding-left = 2
padding-right = 2

module-margin-left = 1
module-margin-right = 2

font-0 = fixed:pixelsize=10;1
font-1 = unifont:fontformat=truetype:size=8:antialias=false;0
font-2 = siji:pixelsize=10;1
font-3 = "Font Awesome 6 Free:style=Regular:pixelsize=8;1"
font-4 = "Font Awesome 6 Free:style=Solid:pixelsize=8;1"
font-5 = "Font Awesome 6 Brands:pixelsize=8;1"

modules-left = powermenu i3
modules-center = time date
modules-right = todoist-today homefilesystem filesystem volume backlight battery

separator =

dim-value = 1.0

wm-restack = i3
enable-ipc = true

scroll-up = "#i3.prev"
scroll-down = "#i3.next"
